@media screen and (min-width: 300px) and (max-width: 600px) {
    body {
      width: 100%;
    }
    div {
      float: none;
      margin: 0px;
      width: auto;
    }
    header {
      font-size:2em;
      text-align:center;
    }

    #navibar {
    	float: right;
        margin: 0 auto;
        width: 45%;
    }
}
               
html {
	background-color: white;
}

/*#title {
	margin:0 auto;
	margin-top: 5%;
	width:100%;
}

#title {
	text-align:center;
	width: 100%
	margin: 0 auto;
	font-family: Courier, monospace;
	color:#DF9DE9;
	font-size: 3em;
}*/

#liberty {
	background: url(http://imgur.com/5bfW6Xk.jpg) no-repeat center center;
	background-size: cover;
	/*border-radius: 10px;*/
	height: 785px;
	width: 100%;
	/*border-top: 20px;*/
	position: relative;
	display: block;
}

#sddm {
	margin: 0;
	padding: 0;
	z-index: 30;
	width: 95%;
}

#sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 1.25em 'Dancing Script';
}

#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 95%;
	background: black;
	color: gray;
	text-align: center;
	text-decoration: underline;
	font: bold 2em 'Dancing Script';
}

#sddm li a:hover {
	background: #AA3F14;
}

#sddm div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: black;
	border: 1px solid black;
}

#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: black;
	color: gray;
	font: 1.25em 'Dancing Script';
}

#sddm div a:hover {
	background: #AA3F14;
	color: gray;
}

.droplow {
	float: right;
	position: center;
	bottom: 0;
}

#blog-name {
    position: relative;
    color: black;
    vertical-align: bottom;
    font-size: 7em;
    font-family: 'Dancing Script', cursive;
	letter-spacing:2px;
	padding: 10px 10px 10px 10px;
    border-radius: 0px 10px 0px 0px;
}

#navibar {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-color: black;
}

#navibar a {
	text-decoration: none;
	font-family: 'Dancing Script', cursive;
	color:gray;
	font-size: 2em;
}

#navibar p {
	word-spacing: 2em;
}

#navibar a:hover {
	color:#AA3F14;
}

header img {
	margin: auto;
	display: block;
}

#content {
	width:95%;
	margin: 0 auto;
}

.title {
	text-align:center;
	font-family:'Dancing Script', cursive;
	color:black;
	font-size: 3em;
}

/*INDEX SPECIFIC*/

ul {
	list-style:none; 
	padding:0; 
	margin:0;
	text-align: center;
}

li a {
	text-decoration: underline;
	font-family: 'Neuton', sans-serif;
	color:black;
	font-size: 1.25em;
}

li {
	font-family: 'Neuton', sans-serif;
	color:black;
	font-size: 1.25em;
}

li a:hover {
	color:#AA3F14;
}

.technical {
	float: left;
    margin: 0 auto;
    width: 45%;
}

.cultural {
	float: right;
	margin: 0 auto;
	width: 45%;
}

.other { 
	float: left;
    margin-left: 35%;
    text-align: center;
}

#indexfooter {
	margin-top: 98%;
}

/*BLOG SPECIFIC*/

.date {
	text-align:center;
	font-family: 'Dancing Script', cursive;
	color:black;
	font-size: 1em;
}

#content p {
	line-height: 150%;
	font-family: 'Neuton', sans-serif;
	font-size: 1.25em;
	width: 90%;
	margin-left: 5%;
	color: black;
}

#content h3 {
	text-align: center;
	font-family: 'Neuton', sans-serif;
	font-size: 1.75em;
	color: black;
}

#content h3 a {
	text-align: center;
	font-family: 'Neuton', sans-serif;
	font-size: 1em;
	color: black;
}

#content h3 a:hover {
	color:#AA3F14;
}

#content p a {
	color: black;
	text-decoration: underline;
}

#content p a:hover {
	color:#AA3F14; 
}

.image img {
	/*margin: 0 auto;
	margin-left: 38%;*/
	margin: auto;
	display: block;
}

.image img {
	height: 240px;
	width: 360px;
	border: solid 1px black;
}

.nextarrow a {
	color: black;
	margin-left: 85%;
	text-decoration: none;
	font-size: 1.25em;
	font-family: 'Neuton', sans-serif;
}

.nextarrow a:hover {
	color:#AA3F14;
}

.backarrow a {
	color: black;
	margin-left: 75%;
	text-decoration: none;
	font-size: 1.25em;
	font-family: 'Neuton', sans-serif;
}

.backarrow a:hover {
	color:#AA3F14;
}

footer {
	text-align: center;
	font-family: 'Neuton', sans-serif;
	font-size: .75em;
}

footer p {
	color: black;
}

footer a {
	color: black;
}

footer a:hover {
	color:#AA3F14;
}
